/* comentario */

body{
	padding-top: 100px;
}

h1{
	color: white;
}

p{
	color: white;
}

#secao1{
	background-image: url("imagens/bg5.jpg");
	height: 40vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#secao2{
	background-image: url("imagens/bg3.jpg");
	height: 40vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#secao3{
	background-color: white;
	height: 20vh;
	width: 100%;
}

#containerPrincipal{
	margin: auto;
	width: 50%;
	border: 3px, solid, rgb(36, 82, 122);
	align-self: center;
	padding: 300px;
	text-align: center;
}

#menuPrincipal a{
	background-color: rgba(36, 82, 122, 0.4);
	color: white;
	font-size: 30px;
	padding: 20px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#menuPrincipal a:hover{
	padding: 20px 50px;
	background-color: rgba(36, 82, 122, 1);
	color: white;
	-webkit-transition: 0.3s;
}




#ufpelogo{
	float: left;
}

#informacao{
	font-family: arial;
	padding: 50px;
	float: right;
	text-align: left;
}

footer{
	clear: both;
	background-color: rgb(36, 82, 122);
	height: 50px;
	text-align: center;
	padding: 10px;
}

.container{
	width: 100%;
	margin:0 auto;
}

.efeito{
	background-color: rgba(0, 0, 0, 0.5);
}